*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 20px;
  background: antiquewhite;
  height: 100%;
  margin: 0;
}
.App{
  max-width: 700px;
  margin: 0 auto;
}
header h1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  padding: 20px 0;
}
.search{
  padding: 20px 0;
  display: flex;

}
.search input{
  flex: 1;
  margin-right: 10px;
  height: 45px;
  padding: 20px;
}
.btn-group{
  display: flex;
}
button{
  height: 45px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}
article{
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  grid-auto-rows: minmax(45px, 1fr);
  background: #fff;
  border: 1px solid #b3b1b1;
}
article>div {
  display: flex;
  align-items: center;
  padding: 20px;
}
article>p {
  display: flex;
  align-items: center;
  justify-content: center;
}
article>p:last-child svg {
 fill: #ff392f;
}
article>p:first-child svg {
  fill: #ffbd0b;
}
